---
import type { GetStaticPaths } from "astro";
import LaunchesCard from "./ui/LaunchesCard.astro";
import { getLanchesApi } from "./utils/spaceX.ts";

const launches = await getLanchesApi();
---

<section class="mx-auto max-w-screen-lg">
  <div
    class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 place-content-center w-full"
  >
    {
      launches.map(({ flight_number, success, name, id, details, links }) => (
        <article>
          <LaunchesCard
            flightNumber={flight_number}
            succes={success}
            name={name}
            id={id}
            details={details}
            img={links.patch.small}
            
          />
        </article>
      ))
    }
  </div>
</section>
